@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@layer base {
    body {
        box-sizing: border-box;
        font-family: "Ubuntu", sans-serif, Inter, Avenir, Helvetica, Arial,
            sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        background-color: var(--color-gray-900);
        color: white;
    }
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
